/*-----Variables-----*/
:root {
    --background: #FFFFFF;
    --background-dark: #1D1C1C;
    --card: #F6F2EF;
    --accent-magenta: #FF5678;
    --accent-green: #149770;
    --text-primary: #1D1C1C;
    --text-secondary: #787878;
    --primary-font: Nunito;
    --secondary-font: Nunito Sans;
    --h1-size: 88px;
    --h1-weight: 800;
    --h2-size: 48px;
    --h2-weight: 800;
    --h3-size: 40px;
    --h3-weight: 700;
    --h4-size: 20px;
    --h4-weight: 600;
    --nav-button-size: 16px;
    --nav-button-weight: 800;
    --p1-size: 20px;
    --p1-weight: 400;
    --card-button-size: 16px;
    --card-button-weight: 700;
}

/*-----Body-----*/
html, body {
    width: 100%;
    height: 100%;
    background: var(--background);
    padding: 0px;
    margin: 0px;
}

/*-----Header-----*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 8.33%;
    padding: 20px 0;
    height: 4.65%;
    width: 83.33%
}

/*-----Nav-----*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

/*-----Links-----*/
a {
    text-decoration: none;
    font-family: var(--secondary-font);
    font-size: var(--nav-button-size);
    font-weight: var(--nav-button-weight);
    color: var(--text-primary);
    padding-left: 10px;
    box-sizing: border-box;
}

/*-----Log In Button-----*/
nav button {
    background: var(--accent-magenta);
    border-radius: 24px;
    border: none;
    font-family: var(--primary-font);
    font-size: var(--nav-button-size);
    font-weight: var(--nav-button-weight);
    color: var(--background);
    width: 40%;
    height: 40px;
    letter-spacing: 0.1em;
    margin-left: 10px;
    box-sizing: border-box;
}

/*-----Main Content-----*/
main {
    margin: 0 8.33%;
}

/*-----Heading Container-----*/
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/*-----Sort Text-----*/
.sort-text {
    margin: 0 20px;
}

/*-----Heading-----*/
h1 {
    font-family: var(--primary-font);
    font-size: var(--h2-size);
    font-weight: var(--h2-weight);
    color: var(--text-primary);
}

/*-----Sort Container-----*/
.sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

/*-----Sort Label-----*/
.sort p {
    font-family: var(--primary-font);
    font-size: var(--h4-size);
    font-weight: var(--h4-weight);
    color: var(--text-primary);
}

/*-----Sort Button-----*/
.sort button{
    background: var(--card);
    border-radius: 24px; 
    font-family: var(--primary-font);   
    font-size: var(--nav-button-size);
    font-weight: var(--nav-button-weight);
    border: none;
    width: 160px;
    height: 48px;
    letter-spacing: 0.2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*-----Card Container-----*/
.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*-----Cards-----*/
.card {
    border-radius: 16px;
    background-color: var(--card);
    height: 475px;
    width: 373px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 40px;
}


/*-----Card Title-----*/
.card-title {
    font-family: var(--primary-font);
    font-size: var(--h4-size);
    font-weight: var(--h4-weight);
    color: var(--text-primary);
    left: 40px;
    top: 250px;
    position: absolute;
}

/*-----Card Price-----*/
.card-price{
    font-family: var(--primary-font);
    font-size: var(--h4-size);
    font-weight: var(--h4-weight);
    color: var(--text-primary);
    left: 292px;
    top: 250px;
    position: absolute;
}

/*-----Card Subtitle-----*/
.card-subtitle {
    font-family: var(--secondary-font);
    font-size: var(--p1-size);
    font-weight: var(--p1-weight);
    color: var(--text-secondary);
    left: 40px;
    top: 304px;
    position: absolute;
}

/*-----Card Button-----*/
.card button {
    height: 48px;
    width: 157px;
    font-family: var(--primary-font);
    font-size: var(--card-button-size);
    font-weight: var(--card-button-weight);
    color: var(--background);
    background-color: var(--accent-magenta);
    border: none;
    border-radius: 24px;
    letter-spacing: 0.2em;
}

/*-----Card Banner-----*/
.card-banner {
    position: absolute;
    font-family: var(--secondary-font);
    font-size: var(--p1-size);
    font-weight: var(--p1-weight);
    color: var(--background);
    background-color: var(--accent-green);
    width: 117px;
    height: 40px;
    left: 256px;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px 0 0 24px;
}

/*-----Footer Container-----*/
footer {
    height: 200px;
    background-color: var(--background-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--background);
    font-family: var(--secondary-font);
    font-size: var(--p1-size);
    font-weight: var(--p1-weight);
}

/*-----Footer Icons-----*/
.icons {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

/*-----Dropdown Box-----*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--card);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

/*-----Dropdown Items-----*/
.dropdown-content a {
    display: block;
    padding: 8px 0;
    color: var(--background-dark);
    text-decoration: none;
}

/*-----Dropdoen Items Hover-----*/
.dropdown-content a:hover {
    background-color: var(--text-secondary);
}

/*-----No Results Found Message-----*/
.no-results {
    font-family: var(--primary-font);
    font-size: var(--h4-size);
    font-weight: var(--h4-weight);
    color: var(--text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

